<a href="/" class="nav-a">
  <div class="ov-box">
    <p class="cn">首页</p>
    <p class="en">HOME</p>
  </div>
</a>
<% menu.forEach(function(it, index) { %>
  <a href="/Home/techs/index/id/<%= it.id %>" class="nav-a">
    <div class="ov-box">
      <p class="cn"><%= it.title %></p>
      <p class="en"><%= it.english %></p>
    </div>
  </a>
<% }) %>
<a href="/Home/News/index/id/0" class="nav-a">
  <div class="ov-box">
    <p class="cn">公司新闻</p>
    <p class="en">news</p>
  </div>
</a>
<a href="javascript:;" class="nav-a" data-target="footer">
  <div class="ov-box">
    <p class="cn">联系我们</p>
    <p class="en">Contact us</p>
  </div>
</a>